
form {
	border: none;
	padding-top: l0px;
	padding-left: 1px;
	padding-right: 1px;
}


input[type=text], input[type=password], input[type=date]{
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	height: 50px;
}

input[type=search]{
	width: auto;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: auto;

}
button:hover{
	opacity: 0.8;
}

#logout {
	color: white; /* Default color for nav links */
   	font-family: tenorite;
  	font-size: 20px;
  	text-decoration: none;
  	border: 2px solid;
  	padding: 10px;
  	border-radius: 5px;
}


.navbar-link .active {
  	background-color: white;
 }
.cancelbtn {
	width: auto;
	padding: 14px 20px;
	background-color: #f44336;	
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

.container {
	padding : 16px;
}


table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
	
}

tr: nth-child(even) {background-color: #f2f2f2}

th {
	background-color: #4CAF50;
	color:white;
}
.control {
	background-color: lightcoral;
}